<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zing.dynamic.datasource.demo1.mapper.TTestMapper">
  <resultMap id="BaseResultMap" type="cn.zing.dynamic.datasource.demo1.bean.TTest">
    <!--@mbg.generated-->
    <!--@Table t_test-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="dc_name" jdbcType="VARCHAR" property="dcName" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="mark_delete" jdbcType="CHAR" property="markDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, source_id, dc_name, province_code, city_code, mark_delete
  </sql>
  <select id="getTTest" resultMap="BaseResultMap">
  select * from idoc_zero_code.t_test where id = #{id}
</select>
</mapper>