<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zing.dynamic.datasource.api.mapper.DcyAvatarMapper">
  <resultMap id="BaseResultMap" type="cn.zing.dynamic.datasource.api.bean.DcyAvatar">
    <!--@mbg.generated-->
    <!--@Table dcy_avatar-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_avatar" jdbcType="LONGVARCHAR" property="userAvatar" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, user_avatar
  </sql>
  <insert id="addAvatar">
    insert into dcy_avatar(user_name, user_avatar) values (#{userName,jdbcType=VARCHAR}, #{userAvatar,jdbcType=VARCHAR})
   </insert>
<!--   关闭一级二级缓存 测试-->
   <select id="avatarList" flushCache="true" useCache="false" resultMap="BaseResultMap">
        select *from  dcy_avatar where #{now} = #{now}
    </select>
</mapper>